# Xcode
#
# After changes to this list, update the index with:
# git rm --cached `git ls-files -i -X .gitignore`
#

## Build generated
DerivedData
*.ipa
*.hmap

## Settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xcuserstate

## Source Control
*.xccheckout
*.xcscmblueprint
*.moved-aside

## AppCode
.idea
